<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                  
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16005582?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15900912?query=java%20Odessa">Web developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Key people recruiting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15873078?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15900866?query=java%20Odessa">IT Project Manager</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Key people recruiting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15584052?query=java%20Odessa">Technical Implementation Consultant</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16050406?query=java%20Odessa">Администратор систем дистанционного обслуживания клиентов</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15946417?query=java%20Odessa">Application Architect (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15854339?query=java%20Odessa">Android developer (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15873323?query=java%20Odessa">Automation QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15910662?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">PLS Logistics Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16099376?query=java%20Odessa">Senior Java Developer/Big Data Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Avicoma - D</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15706934?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16015134?query=java%20Odessa">Natural Language Processing NLP Engineer (Computational Linguistics / Machine Learning)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Envion Software (Ukraine)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023895">Java-разработчик (2GIS World)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/19097890">Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omertex18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024076">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SELVIS18 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021825">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023986">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project15 февраля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024089">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CreditPilot18 февраля 2016</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")09 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE24 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022888">Java\Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023858">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023650">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023658">Главный программист java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "БФТ"03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS15 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023492">Middle java developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Pogodee04 февраля 2016</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024270">senior java developer Москва</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Петер-Сервис26 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника19 февраля 2016</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023893">Java/Python-разработчик (Извлечение данных)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Faidon Design27 января 2016</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023944">Lead Software Developer (Java)</a></td> 
     <td class="city">Рига</td> 
     <td class="companyName">C.T.Co17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024007">Ведущий разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Integrated Information Solutions16 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023895">Java-разработчик (2GIS World)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/19097890">Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omertex18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024076">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SELVIS18 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021825">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023986">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project15 февраля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024089">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CreditPilot18 февраля 2016</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")09 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE24 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022888">Java\Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023858">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023650">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023658">Главный программист java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "БФТ"03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS15 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023492">Middle java developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Pogodee04 февраля 2016</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024270">senior java developer Москва</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Петер-Сервис26 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника19 февраля 2016</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023893">Java/Python-разработчик (Извлечение данных)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Faidon Design27 января 2016</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023944">Lead Software Developer (Java)</a></td> 
     <td class="city">Рига</td> 
     <td class="companyName">C.T.Co17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024007">Ведущий разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Integrated Information Solutions16 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East26 февраля 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023508">Старший Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Made Simple Ventures LLC27 января 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023906">Java разработчик на "Фактор"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs11 февраля 2016</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024177">Software Development Engineer Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Xored Software Inc.20 февраля 2016</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc15 февраля 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023854">Java Team Lead</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023925">Java-разработчик, middle/senior java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ОАО Банк Пойдем24 февраля 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024036">Java EE программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Омникомм19 февраля 2016</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023908">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024252">Ява программист (JAVA developer)</a></td> 
     <td class="city">Тенненлоэ</td> 
     <td class="companyName">Clear Croup25 февраля 2016</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023749">Senior Java developer/разработчик (back-end)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Neklo05 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Ведущий программист Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 2419 февраля 2016</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023856">Java Team Lead</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Smartbics10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021564">Senior Java developer (Multithreading, Servlets, Spring, Hibernate, Native SQL)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AURUS24 февраля 2016</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Java-разработчик микросервисов экосистемы BostonGene Cloud Platform</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene09 февраля 2016</td> 
     <td class="salary">От 75 001 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023674">Java Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft12 февраля 2016</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024167">Hadoop developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV19 февраля 2016</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021888">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Consulting AS28 января 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023563">Android программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ProfIT Solutions Networking Telecom29 января 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023683">Старший Разработчик Android (C++, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023948">Anroid разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CTRLFIT13 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023638">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore02 февраля 2016</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023920">Backend разработчик (Мобильное приложение, SIP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Helpon13 февраля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023577">Специалист по автоматизации тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НКО Яндекс.Деньги01 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024057">Android Developer / Android Разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DDG17 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020777">Android-разработчик</a></td> 
     <td class="city">Вильнюс</td> 
     <td class="companyName">Plag - Information Network26 января 2016</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021663">Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems08 февраля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023939">Ведущий разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">cityplumbers12 февраля 2016</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024238">iOS разработчик / Ведущий iOS разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice Recruitment24 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024145">Android Developer</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Relocateme.eu19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024018">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Секретная Лаборатория16 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019856">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Octoberry28 января 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023754">Разработчик на Go</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023532">Fullstack (php) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore02 февраля 2016</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023758">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023624">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets02 февраля 2016</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023466">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ANEWS15 февраля 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022428">QA Инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024182">Big Data engineer / analyst</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023741">C# Backend Developer (мобильный игровой проект)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023656">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TeleRetail AG03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023555">BACK-END ПРОГРАММИСТ</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "МСЦ"10 февраля 2016</td> 
     <td class="salary">От 115 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023252">Android разработчик Senior</a></td> 
     <td class="city"></td> 
     <td class="companyName">Beet Lab08 февраля 2016</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024111">Backend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe19 февраля 2016</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023642">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">THE HUMANET02 февраля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024191">Специалист</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Казкоммерцбанк20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023912">Full stack developer (Senior Front &amp; Back-end) Moscow city</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Market Music Inc11 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023687">Fronted / Backend Web Developer</a></td> 
     <td class="city">Хайлбронн</td> 
     <td class="companyName">Lingner03 февраля 2016</td> 
     <td class="salary">От 3 200 до 3 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023651">Front-end developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute10 февраля 2016</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023909">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012285">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE26 января 2016</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023849">Front-end Developer (JavaScript Developer)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV19 февраля 2016</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023490">Опытный разработчик/архитектор Lotus Domino</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПроБизнесКонсалт27 января 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023964">Android Team Lead</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries15 февраля 2016</td> 
     <td class="salary">От 110 до 150 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021023">Ведущий разработчик мобильных приложений/Mobile Team Lead Dev</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate04 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024078">Разработчик распределённых систем</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/141365985">Web programmer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">G5 Entertainment25 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023995">Senior Flash программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio15 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023814">Тестировщик / QA engineer</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">Ecwid Inc.08 февраля 2016</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024138">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020115">Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/61922206">Web-мастер / Web-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/976978977">Разработчик мобильных приложений Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024043">C# / asp.net разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Priem Team17 февраля 2016</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023673">.NET Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023993">Senior Quality Assurance Engineer (QA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE16 февраля 2016</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024202">C\C++ System Software Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Promwad Innovation Company22 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024149">Руководитель ИТ-проектов / Бизнес-аналитик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 2419 февраля 2016</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024176">​Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Excursiopedia.com20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023897">Инженер (Continuous Integration)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007981">C# .NET Developer (Analytics Team)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024136">Технический менеджер проектов в области хранения и обработки данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023700">JavaScript Frontend/Backend Developer (биоинформатика)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AppGenomics04 февраля 2016</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023894">Ведущий программист .Net/C# (Fiji)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022489">Senior Python разработчик / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn31 января 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023724">Game AI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay12 февраля 2016</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023544">Разработчик Python/Django/PostgreSQL</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб29 января 2016</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>